@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,900&family=IBM+Plex+Sans&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,300;1,400;1,500&family=VT323&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: 0;
  color: white;
}
body {
  background-color: black;
}
::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}
.login-container {
  background-color: black;
}
.page-1 {
  height: 100vh;
  display: flex;
  position: relative;
  top: 45px;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  position: relative;
  top: 0px;
  font-size: 90px;
  letter-spacing: 2px;
  color: #fff;
}
.slogan {
  position: relative;
  top: 0px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
}
.login-card {
  background-color: rgb(59, 164, 255);
  position: relative;
  top: 0px;
  width: 40%;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
  height: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 41px;
  border: 0.3px solid #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6.5px);
}
.login-card h2 {
  position: relative;
  top: 0px;
  font-weight: 500;
  color: white;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-size: 30px;
}
.cred {
  position: relative;
  width: 80%;
  top: 0px;
  margin-top: 0px;
  height: auto;
  padding: 15px 0px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.478);
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-left: 20px;
}
.login-btn {
  position: relative;
  width: auto;
  top: 0px;
  margin-top: 5px;
  height: auto;
  padding: 15px 50px;
  border-radius: 15px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  background: #7775f3;
}
.toggle-container {
  background-color: #00d679;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  width: 35%;
  flex-direction: column;
  gap: 6px;
}
.toggle-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.toggle-info h1 {
  font-size: 19px;
  font-family: Poppins;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}
.toggle-info img {
  width: 36px;
  height: 36px;
}
.toggle-button {
  background: black;
  padding: 10px;
  text-align: center;
  border-radius: 40px;
}

.air-quality-button {
  border-radius: 40px;
  color: black;
  padding: 20px;
  position: relative;
  bottom: 15px;
  text-align: center;
  gap: 0px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 242, 0);
}
.air-quality-button h1 {
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
}
.air-quality-info {
  margin-top: 10px;
  background-color: #000;
  color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .login-card {
    width: 60%;
    height: auto;
  }
}
.footer {
  align-items: center;
}

.footer img {
  top: 83vh;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 100%;
  position: fixed;

  z-index: 9999;
}
.closer {
  width: 20px;
  height: 20px;
  position: relative;
  left: auto;
  bottom: 3vh;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textarea {
  background: white;
  padding: 40px 40px;
  width: 77%;
  right: 2px;
  color: black;
  position: fixed;
  font-family: IBM Plex Sans;
  top: 19vh;
  border-radius: 20px;
  display: flex;
  grid-gap: 10px;
  grid-gap: 10px;
  gap: 10px;
  flex-direction: column;
  height: 95vh;
}
.circle {
  position: fixed;
  top: 83vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85px;
  height: 85px;
  border-radius: 100%;
  flex-shrink: 0;
  z-index: 9998;
  background-color: #ffffff4d;
  filter: blur(2px);
}
@media only screen and (max-width: 600px) {
  .login-card {
    width: 90%;
    height: auto;
  }
}
