@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,900&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,300;1,400;1,500&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: 0;
  color: rgb(0, 0, 0);
}
.main {
  position: relative;
  height: 250px;
  width: 250px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 30px 0px #ffffff9a;
border-radius: 100%;
}
.temperature-circle {
  position: absolute;
  width: 250px;
  height: 250px;
}
.humidity-circle {
  position: absolute;
  width: 205px;
  height: 205px;
}
.datas {
  text-align: center;
}
.temp-h {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 600;
}
.temp-data{
  font-weight: 800;
}
